/* semantic color variables for this project */
:root {
  --color-text: #000000;
  --section-gap: 160px;
  --color-sidebar: #a3a38f;
  --color-orange: #f37344;
  --color-blue: #5e9ee4;
  --color-green: #00bd58;
  --color-yellow: #ebd547;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  font-family: "Space Mono", monospace;
  font-size: 18px;
  line-height: 26.66px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Cormorant", serif;
  font-size: 105px;
  line-height: 127.16px;
  font-weight: 700;
  margin-bottom: 2rem;
}

h2 {
  font-family: "Space Mono", monospace;
  font-size: 28px;
  line-height: 41.47px;
  font-weight: 400;
}

h3 {
  font-family: "Cormorant", serif;
  font-size: 35px;
  line-height: 42.39px;
  font-weight: 700;
  margin-bottom: 3rem;
}

h4 {
  font-family: "Cormorant", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 42.39px;
}

h5 {
  font-family: "Cormorant", serif;
  font-size: 25px;
  font-weight: 400;
}

a {
  color: var(--color-text);
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}

#menu-line {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 159px;
  height: 2px;
  background: #fff;
}
#menu {
  position: fixed;
  z-index: 70;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background-color: var(--color-sidebar);
}
#menu li {
  display: inline-block;
  margin: 10px 0;
  position: relative;
}
#menu a {
  color: var(--color-text);
  padding: 0 1.1em 1.1em 1.1em;
  text-decoration: none;
  font-family: "Space Mono", monospace;
  font-size: 18px;
  font-weight: 400;
}

#menu a:hover {
  font-weight: 700;
}

#menu a:focus {
  text-decoration: underline;
  font-weight: 700;
}
