/* semantic color variables for this project */
:root {
  --color-text: #000000;
  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  line-height: 26.66px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Cormorant', serif;
  font-size: 105px;
  font-weight: 700;
}

h2 {
  font-family: 'Space Mono', monospace;
  font-size: 28px;
  font-weight: 400;
}

h3 {
  font-family: 'Cormorant', serif;
  font-size: 35px;
  font-weight: 700;
}

h4 {
  font-family: 'Cormorant', serif;
  font-size: 35px;
  font-weight: 700;
}

h5 {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  font-weight: 400;
}


